{% extends 'base.html' %}
{% block 'Título' %} Lista de Peças {% endblock %}
{% block 'material' %}
<body>
    <div class="page">
        <form method="POST" class="formLogin">
            {% csrf_token %}
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label  for="id_username">Usuário</label>
            <input type="text" name="username" placeholder="Digite seu login" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" />
            <a href="/">Esqueci minha senha</a>
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>
{% endblock %}